/* Reset scrollbar */
body {
    margin: 0px;
    font-family: 'Yeon Sung', cursive;
}

/* Intégration bg video */
.video-container {
    position: fixed;
    width: 100%;
  }

/* Conteneur Principal*/
.section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

/* Contenu principal */ 
.content {
text-align: center;
text-shadow: 0 0 6px black;
font-size: 2rem;
padding: 20px;
color: #D9726B;
margin: 15px;
margin-bottom: 50px;
z-index: 1;
/* glass effect */
background: rgba(48, 44, 63, 0.61);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.3px);
-webkit-backdrop-filter: blur(5.3px);
border: 1px solid rgba(255, 255, 255, 0.77);
}

/* Boutons */
img {
    text-shadow: 0 0 2px black;    
    color: #D9726B;
    border-radius: 10px;
    font-size: 0rem;
    width: 80px; 
    height: 80px;
    color: rgb(217, 114, 107);
    z-index: 1;
    filter: invert(66%) sepia(20%) saturate(6696%) hue-rotate(319deg) brightness(97%) contrast(75%);
  }

  button {
    background-color: #2F253B;
    text-shadow: 0 0 2px black;    
    color: #D9726B;
    border-radius: 10px;
    font-size: 0rem;
    width: 100px; 
    height: 100px;
  }
  /* bouton musique  */
  #soundAmbiance {
    position: absolute;
    width: 25px;
    top: -10px;
    right: 20px;
    color: rgb(217, 114, 107);
    z-index: 1;
    filter: invert(66%) sepia(20%) saturate(6696%) hue-rotate(319deg) brightness(97%) contrast(75%);
  }

  /* Titre */
  .section h1 {
    text-align: center;
    font-size: 6rem;
    padding: 20px;
    z-index: 1;
  }
  

/* Résultat */
.content h1 {
  color: #D9726B;
  text-align: center;
  font-size: 3rem;
  padding: 20px;
  margin: 15px;
  z-index: 1;
  }


/* Texte  */
  .content h2 {
    text-align: center;
    color: #D9726B;
    font-size: 1.5rem;
    padding: 20px;
    z-index: 1;
  }


/* span fonctions */
  .content h3 {
    text-align: center;
    color: #D9726B;
    font-size: 1.3rem;
    padding: 20px;
    margin-top: -65px;
    z-index: 1;
  }

  footer {
    text-align: center;
    color: #D9726B;
    font-size: 0.9rem;
    padding: 20px;
    z-index: 1;
    margin-bottom: -50px;
  }